@CHARSET "UTF-8";

.fieldcall
{
	margin-bottom: 1%;
	padding-left: 1%;
	margin-right: 75%;
	margin-left: 3%;
}
.title{	
	font-size: 160%;
	color:brown;
	margin-bottom: 1.5%;
	position:relative;
	left:4%;
}

select {
	margin-right:45%
	
}
.button{
	margin-left:4%;	
}
.divon{
	display:block;
	
}
.divoff{
	display:none;
	
}
.radio {
	font-size: 120%;
	float:right;
	margin-right:77%;
	margin-bottom:1%;
	
}