@CHARSET "UTF-8";

ul
{
	
	margin-top: 3%;
	margin-bottom: 3%;
}

.field a 
{

}


.leftli
{
	font-size: 130%;
	float:left;
	width:60%;
	margin-top: 3px;
	padding-bottom:6px;
	border-bottom: 1px solid red;
	
	
}

.rightli
{
	margin-bottom: 6px;
	padding-bottom:3px;
	float:left;
	border-bottom: 1px solid red;
	
}

.button 
{
	padding: 1px 1px 1px 1px;
	
}

.field {
	margin-bottom: 1%;
	padding-left: 1%;
	margin-right: 40%;
	margin-left: 3%;
}

