@CHARSET "UTF-8";

ul
{
	
	margin-top: 1.5%;
	margin-bottom: 3%;
}

.field a 
{

}


.leftli
{
	font-size: 120%;
	float:left;
	width:50%;
	margin-top: 3px;
	padding-bottom:6px;
	border-bottom: 1px solid red;
	
	
}
.fleftli{
	font-size: 115%;
	float:left;
	width:50%;
	margin-top: 3px;
	padding-bottom:6px;
	border-bottom: 1px solid red;
	margin-left:1%;
}

.gbuild
{
	font-size: 120%;
	float:left;
	width:50%;
	margin-top: 3px;
	padding-bottom:6px;
	border-bottom: 1px solid blue;
}
.cleftli{
	font-size: 120%;
	float:left;
	width:50%;
	margin-top: 3px;
	padding-bottom:6px;
	border-bottom: 1px solid green;
	margin-left:2%;
	
}

.rightli
{
	margin-top: 4px;
	padding-bottom:3px;
	float:left;
	
	
	
}

.button 
{
	padding: 1px 1px 1px 1px;
	
}

.field {
	margin-bottom: 1%;
	padding-left: 1%;
	margin-right: 3%;
	margin-left: 3%;
	
}

