@CHARSET "UTF-8";
body {
	background-image: url(../content/bg.gif);
	background-repeat: repeat;
	font-family: 'Times New Roman';
}

header {
	overflow: auto;
	padding: 10px 30px 10px 30px;
}
a {
	font-size: 120%;
}
header .leftcolumn {
	float: left;
	padding-top: 1%;
	width:41.5%;

}
header .centrcolumn {
	float: left;
}
header .rightcolumn {
	float: right;	
	padding-top: 1%;
}




 h3 {
	font-size: 150%;
	color:brown;
	margin-bottom: 2%;
	width:50%;
	
	
}
.ctrl{
	border-top: 1px solid red;
	padding-bottom:6px;
	margin-top:1%;
	padding-top:6px
	
}
.ctrl{
	margin-bottom: 1%;
	padding-left: 1%;
	width: 90%;
	margin-left: 3%;
	
}


.ctrl_btn {
	margin-left:0%;
		-webkit-column-width: 140px;
    -moz-column-width: 140px;
    column-width: 140px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    -webkit-column-rule: 1px solid #ccc;
    -moz-column-rule: 1px solid #ccc;
    column-rule: 1px solid #ccc;
	}
.ctrl_col a{
	margin:1%;
}
.ctrl_col{
	margin-bottom:1%;
	-webkit-column-width: 140px;
    -moz-column-width: 140px;
    column-width: 140px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    -webkit-column-rule: 1px solid #ccc;
    -moz-column-rule: 1px solid #ccc;
    column-rule: 1px solid #ccc;
	
}


label  {
  float:left; 
	padding-bottom: 1%;
  width: 90%;  
	font-size: 120%;
	
}


.title{	
	font-size: 160%;
	color:brown;
	margin-bottom: 1.5%;
	margin-left:4%;
	width:50%;
	
}


table, th, td, caption {
	border-style:solid;
	border-width:1px;
	border-collapse: collapse;
	padding:3px;
	font-size: 100%;
	background-color: azure;	
}

table {
	margin-left:4%;
	margin-top:1%;
	margin-bottom:1%;
}
caption {
	font-size: 120%
}
th{
	font-size:110%;
	
}

.button {	
	padding: 5px 10px 5px 10px;
	border-radius: 7px;
	color:azure;
	background-color:coral;
	cursor: pointer;
	font-size: 100%; 
	
}

.text{	
	padding: 5px 10px 5px 10px;
	border-radius: 7px;	
	background-color: azure;	
	font-size:100%;	
}
.error{
	margin-top:2px;
	margin-left: 3%;
	
}
.field {
	margin-bottom: 1%;
	padding-left: 1%;
	margin-right: 45%;
	margin-left: 3%;
}