@CHARSET "UTF-8";
body {
	background-image: url(../content/bg.gif);
	background-repeat: repeat;
	font-family: 'Times New Roman';
}

header {
	overflow: auto;
	padding: 10px 30px 10px 30px;
}
header a {
	font-size: 120%;
}
header .leftcolumn {
	float: left;
	margin-left: 41%	
}
header .rightcolumn {
	float: right;	
	padding-top: 1%;
}



label  {
  float:left; 
	padding-bottom: 1%;
  width: 50%;  
	font-size: 120%;
	
}


.title{	
	font-size: 160%;
	color:brown;
	margin-bottom: 1.5%;
	position:  relative;
	width:50%;
	left:4%;
}


table, th, td, caption {
	border-style:solid;
	border-width:1px;
	border-collapse: collapse;
	padding:3px;
	font-size: 100%;
	background-color: azure;	
}

table {
	margin-left:4%;
	margin-top:1%;
	margin-bottom:1%;
}
caption {
	font-size: 120%
}
th{
	font-size:110%;
	
}

.button {	
	padding: 5px 10px 5px 10px;
	border-radius: 7px;
	color:azure;
	background-color:coral;
	cursor: pointer;
	font-size: 100%;
}

.text{	
	padding: 5px 10px 5px 10px;
	border-radius: 7px;	
	background-color: azure;	
	font-size:100%;	
}
.error{
	margin-top:2px;
	margin-left: 3%;
	
}
.field {
	margin-bottom: 1%;
	padding-left: 1%;
	margin-right: 45%;
	margin-left: 3%;
}