@CHARSET "UTF-8";

.fieldcall
{
	margin-bottom: 1%;
	padding-left: 1%;
	margin-right: 75%;
	margin-left: 3%;
}


select {
	margin-right:45%
	
}
.button{
	margin-top:4px;	
	margin-right:3px;	
}
.divon{
	display:block;
	
}
.divoff{
	display:none;
	
}
.radio {
	font-size: 120%;
	float:right;
	margin-right:77%;
	margin-bottom:1%;
	
}
.mainleft{
	float:left;
	width:29%;
	margin-bottom: 1%;
	padding-left: 1%;
	margin-left: 3%;
	 
}
.maincenter{
	float:left;
	width:30%;
	margin-bottom: 1%;
	padding-left: 1%;
	
	
}
.mainright{
	float:left;
	margin-bottom: 1%;
	padding-left: 1%;
	margin-left: 3%;
	
	
	}